/.bundle
/.vscode
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
/config/master.key
/public/packs
/public/packs-test
/vendor
/public/packs
/public/packs-test
/node_modules
/docker/db/storage/*
!/docker/db/storage/.keep
