!.keep
/.bundle
/.mkcert
/log/*
/tmp/*
/tmp/pids/*
!/tmp/pids/
/storage/*
/tmp/storage/*
!/tmp/storage/
/public/assets
/config/master.key
/app/assets/builds/*
/node_modules

.env.*
compose.override.yml
