x-ruby-args: &ruby-args
  BUNDLER_VERSION_ARG: $BUNDLER_VERSION
  RUBY_VERSION_ARG: $RUBY_VERSION
x-rails-environment: &rails-environment
  RAILS_ENV: production
  WEB_CONCURRENCY: 2

services:
  nginx:
    restart: always
  web:
    build:
      context: .
      target: production
      dockerfile: ./docker/rails/Dockerfile
      args:
        <<: *ruby-args
    environment:
      <<: *rails-environment
    restart: always
  db:
    restart: always
  # crond:
  #   build:
  #     context: .
  #     target: production
  #     dockerfile: ./docker/rails/Dockerfile
  #     args:
  #       <<: *ruby-args
  #   command: crond -f -l 2
  #   restart: always
  #   volumes:
  #     - ./:/app:cached
  #     - bundle:/bundle:cached
  #     - bundle_cache:/app/tmp/cache:cached
  #   tty: true
  #   environment:
  #     <<: *rails-environment
  #   depends_on:
  #     - db
