@charset "UTF-8";

@import "normalize.css";
@import "variables";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p&subset=japanese");

@mixin date {
  &.date {
    min-width: 12rem;
    text-align: end;
  }
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $base-font-family;
  font-size: 1.4rem;
  line-height: 1.6;
  color: $base-font-color;
  background: $base-background;

  * {
    font-family: inherit;
  }
}

li {
  list-style: none;
}

a {
  color: $base-font-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  color: $base-font-color;
  text-decoration: none;
}

/* ----- container ----- */
.container {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: auto 70vw;
  gap: 1rem;
  margin: 1rem;
}

/* ----- sidebar ----- */
.sidebar {
  grid-area: sidebar;
  overflow: auto;
  background: $base-background;

  &__siteTitle {
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $site-title-color;
    background: $base-border-color;
  }

  &__novelTitle {
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 2px solid $base-border-color;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      a {
        display: block;
        padding: 5px 3px;
        font-weight: normal;
        text-decoration: none;

        @include text-overflow;

        &.deleted {
          text-decoration: line-through;
        }

        &:hover {
          opacity: 0.5;
        }
      }

      &:nth-child(even) {
        background: $base-even-background;
      }

      &:nth-child(odd) {
        background: $base-odd-background;
      }
    }
  }
}

/* ----- main ----- */
.main {
  grid-area: main;
}

/* ----- menu ----- */
.menu {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 1.4rem;

  li {
    width: 8rem;
    height: 4rem;
    background: $base-border-color;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    + li {
      border-left: 1px dotted $base-even-background;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: $site-title-color;
      text-decoration: none;
    }
  }
}

/* ----- content ----- */
.content {
  &__title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-bottom: solid 1px $base-font-color;
  }

  &__chapter {
    font-size: 1.4rem;

    li {
      min-height: 30px;

      a {
        display: flex;
        align-items: center;
        min-height: 30px;
        padding: 0 5px;
        text-decoration: none;

        span {
          @include text-overflow;
          @include date;
        }

        &:hover {
          opacity: 0.5;
        }
      }

      span {
        margin-right: 5px;
        margin-left: auto;
      }
    }

    > li:nth-child(even) {
      background: $base-even-background;
    }

    > li:nth-child(odd) {
      background: $base-odd-background;
    }
  }

  &__body {
    padding: 10px;
    font-size: 1.4rem;
    background: $base-content-background;
    border-radius: 5px;
  }

  &__notification {
    font-size: 1.4rem;

    li {
      display: flex;
      align-items: center;
      min-height: 30px;

      span {
        margin: 0 5px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        text-decoration: none;

        span {
          @include date;
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }

    > li:nth-child(even) {
      background: $base-even-background;
    }

    > li:nth-child(odd) {
      background: $base-odd-background;
    }
  }
}

@media (max-width: 640px) {
  /* ----- container ----- */
  .container {
    grid-template-areas:
      "main"
      "sidebar";
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    margin: 10px;
  }

  /* ----- sidebar ----- */
  .sidebar {
    overflow: hidden;

    &__siteTitle {
      font-size: 1.4rem;
    }

    &__novelTitle {
      font-size: 1.2rem;

      li {
        a:hover {
          opacity: 1;
        }
      }
    }
  }

  /* ----- main ----- */
  .main {
    margin-left: 0;
  }

  /* ----- menu ----- */
  .menu {
    li {
      width: 75px;
    }
  }

  /* ----- content ----- */
  .content {
    &__notification {
      li a:hover {
        opacity: 1;
      }
    }

    &__chapter {
      margin-bottom: 15px;

      li {
        a:hover {
          opacity: 1;
        }

        span {
          display: none;
        }
      }
    }
  }
}
