/ メニュー
- if menu.present?
  ul.menu
    - if menu[:previous].present?
      li
        a href="/#{params[:code]}/#{params[:novel_id]}/#{menu[:previous][:id]}#main"
          i.fa.fa-angle-left
    - else
      li
        a.menu__notLink href="javascript:void(0);" -
    li
      a href="/" トップ
    li
      a href="/#{params[:code]}/#{params[:novel_id]}#main" 目次
    - if menu[:next].present?
      li
        a href="/#{params[:code]}/#{params[:novel_id]}/#{menu[:next][:id]}#main"
          i.fa.fa-angle-right
    - else
      li
        a.menu__notLink href="javascript:void(0);" -
