- sites.each do |site|
  .sidebar__siteTitle #{site.name}
  ul.sidebar__novelTitle
    - site.novels.each do |novel|
      li
        - if novel.deleted_at
          a.deleted href="/#{site.code}/#{novel.id}#main" #{novel.replace_title}
        - else
          a href="/#{site.code}/#{novel.id}#main" #{novel.replace_title}
