<div class="container">
  <aside class="sidebar">
    <%= render partial: 'sidebar', locals: { sites: @sites } %>
  </aside>
  
  <main id="main" class="main">
    <div class="content">
      <%= render partial: 'novel', locals: { novel: @novel,  params: @params, menu: @menu } %>
    </div>
  </main>
</div>
