container.container
  aside.sidebar
    = render partial: 'sidebar', locals: {sites: @sites}
  main#main.main
    .content
      = render partial: 'chapter', locals: {chapter: @chapter,  params: @params, menu: @menu}
