$base-font-family: "M PLUS 1p", sans-serif;
$base-background: #b0aa91;
$base-content-background: #f3f2f0;
$base-font-color: #3c3a33;
$base-border-color: #4a473a;
$base-even-background: #f3f2f0;
$base-odd-background: #c6c2bc;
$site-title-color: #dd8a61;
