name: Rubocop

on:
  pull_request:
    branches:
      - main

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Ruby
      uses: ruby/setup-ruby@708024e6c902387ab41de36e1669e43b5ee7085e # v1.283.0
      with:
        bundler: Gemfile.lock
        bundler-cache: true

    - name: Restore rubocop cache
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        path: tmp/rubocop_cache
        key: ${{ runner.os }}-rubocop-${{ hashFiles('**/.rubocop.yml') }}
        restore-keys: |
          ${{ runner.os }}-rubocop-${{ hashFiles('**/.rubocop.yml') }}
          ${{ runner.os }}-rubocop-

    - name: Install dependencies
      run: |
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3

    - name: Run rubocop
      run: bundle exec rubocop --parallel --cache-root tmp/rubocop_cache
